* {
  background-color: #fcb2b2;
  font-family: comicsansms, cursive, sans-serif;
}
h1 {
  font-size: 40px;
  color: blue;
}
img {
  width: 20px;
  height: 20px;
}
.header_layout_flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.header_layout_flexbox > :nth-child(1) {
  align-items: left;
  margin: 0;
}
.header_layout_flexbox > :nth-child(2) {
  align-items: right;
}
.header_layout_flexbox > :nth-child(3) {
  align-items: left;
}

h2 {
  font-size: 30px;
  color: purple;
  text-align: left;
  margin: 0;
}
h5 {
  font-size: 20px;
  color: green;
  text-align: right;
}
.nav_layout_flexbox {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  list-style-type: none;
}
.footer_links_flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
